@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '_generals';
@import '_mixin';

@font-face {
    font-family: Lari;
    src: url(../fonts/LarishNeueSemibold.woff);
}

// font-family: 'Work Sans', sans-serif;
// Farbe: #fff / #000

header {
    flex-direction: column;
    @include flexit(center, center);
    padding: 10px 9%;
    background-color: #000;

    div {
        @include flexit(space-between, center);
        height: 36vh;
        padding-bottom: 11vh;

        article {
            width: 50%;
        }

        article:nth-of-type(2) {
            height: 100%;
            width: 50%;
            border-left: 1px solid #fff;
        }
    }

    h4 {
        font-size: 1.8rem;
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        letter-spacing: -1px;
        color: #fff;
    }

    h4:last-of-type {
        padding-top: 5vh;
    }

    h2 {
        font-size: 9.5rem;
        color: #fff;
    }

    h1 {
        line-height: 3.5rem;
        font-size: 9.5rem;
        color: 000;
        font-family: Lari;
        -webkit-text-stroke: 2px #fff;
    }

    section {
        width: 100%;
        @include flexit(space-between, center);
        padding: 21vh 0 5vh 0;

        img {
            width: 70px;
        }

        a {
            color: #fff;
            font-size: 2.1rem;
            border: 2px solid #fff;
            padding: 20px 50px;
            text-decoration: none;
        }

        a:hover {
            color: #000;
            background: #fff;
        }
    }

    .articleHeader {
        padding: 16vh 5vw 0 0;
        font-size: 11rem;
        font-family: Lari;
    }
}

main {
    .numbersMain {
        color: #fff;
        background: url("../img/map.svg") right/40% no-repeat;
        background-color: #000;
        display: block;
        padding: 16vh 0 0 9%;
        font-family: Lari;

        h2 {
            @include h2("");
        }

        h4 {
            @include h4("");
            padding-top: 6vh;
        }
    }

    section {
        background: #fff;
        position: relative;
        overflow: hidden;

        div:nth-of-type(1) {
            background: #000;
            height: 20vh;
        }

        div:nth-of-type(2) {
            width: 35%;
            height: 30vh;
            margin: auto;
            padding: 50vh 0 135vh 0;

            h2 {
                @include h2("");
                line-height: 9rem;
                letter-spacing: -2px;
            }

            h4 {
                @include h4("");
                padding-top: 4vh;
                line-height: 3.2rem;
                font-family: 'Work Sans', sans-serif;
                font-size: 1.9rem;
                letter-spacing: -1px;
                word-spacing: 1px;
                font-weight: 500;
            }
        }

        img {
            position: absolute;
            width: 355px;
        }

        img:nth-of-type(1) {
            top: 9vh;
            left: 70vw;
        }

        img:nth-of-type(2) {
            width: 290px;
            top: 50vh;
            left: 8vw;
        }

        img:nth-of-type(3) {
            width: 290px;
            top: 107vh;
            left: 80vw;
        }

        img:nth-of-type(4) {
            top: 132vh;
            left: 17vw;
        }

        img:nth-of-type(5) {
            top: 158vh;
            left: 60.72vw;
        }
    }

    .ourTshirts {
        position: relative;

        h4 {
            margin: auto;
            @include h4("");
            width: 43%;
            line-height: 3.2rem;
            font-family: 'Work Sans', sans-serif;
            font-size: 1.9rem;
            letter-spacing: -1px;
            word-spacing: 1px;
            font-weight: 500;
            padding: 0 0 40vh 7vw;
        }

        img {
            position: absolute;
            width: 300px;
            top: -8vh;
            left: 0;
        }

        img:nth-of-type(2) {
            width: 470px;
            top: 36vh;
            left: 45vw;
            z-index: 5;
        }
    }

    .theGoldenBear {
        background: #000;
        z-index: 4;
        color: #fff;
        @include flexit(space-between, center);
        padding: 25vh 0 100vh 0;
        position: relative;

        div {
            width: 35%;
            padding-left: 9%;

            h4 {
                @include h4("");
                font-family: 'Work Sans', sans-serif;
                padding-bottom: 5vh;
                font-weight: 400;
            }

            h2 {
                @include h2("");
                font-family: Lari;
                line-height: 8.8rem;
            }
        }

        article {
            width: 55%;
            padding: 0 9% 0 10vh;

            h5 {
                @include h2("");
                font-size: 3rem;
            }

            h4 {
                font-size: 2rem;
                font-weight: 400;
                font-family: 'Work Sans';
                width: 100%;
                padding-top: 2vh;
            }
        }

        img {
            position: absolute;
            top: 86vh;
            left: 8vw;
            width: 54%;
            z-index: 2;
        }

        img:nth-of-type(2) {
            position: absolute;
            top: 107vh;
            left: 58vw;
            width: 28vw;
            z-index: 3;
        }
    }

    .thePoppyBear {
        background: #fff;
        color: #000;
        @include flexit(space-between, center);
        padding: 30vh 0 135vh 0;
        position: relative;
        overflow: hidden;
        z-index: 2;

        .poppyImg {
            position: absolute;
            top: -18vh;
            left: 77vw;
            z-index: 1;
            width: 60vh;
            animation-duration: 25s;
            animation-name: round;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        .poppyDiv {
            background: #fff;
            width: 35%;
            padding-left: 9%;

            h4 {
                @include h4("");
                font-family: 'Work Sans', sans-serif;
                padding-bottom: 5vh;
                font-weight: 400;
            }

            h2 {
                @include h2("");
                font-family: Lari;
                line-height: 8.8rem;
            }
        }

        article {
            width: 55%;
            padding: 0 9% 0 10vh;

            h5 {
                @include h2("");
                font-size: 3rem;
                padding-top: 27vh;
            }

            h4 {
                font-size: 2rem;
                font-weight: 400;
                font-family: 'Work Sans';
                width: 100%;
                padding-top: 2vh;
                font-weight: 400;
            }
        }

        .poppyImg2 {
            position: absolute;
            width: 54%;
            z-index: 2;
            top: 108vh;
            left: 38vw;
        }

        .poppyImg2:nth-of-type(2) {
            position: absolute;
            top: 128vh;
            left: 14.8vw;
            width: 28vw;
            z-index: 3;
        }
    }

}

footer {
    background-color: black;
    color: white;
    padding: 0.5vh 9% 0 9%;
    position: relative;
    overflow: hidden;

    .banderole {
        color: black;
        background: white;
        border: 1px solid black;
        font-size: 7.5rem;
        width: 370%;
        height: 8vh;
        position: absolute;
        top: 98vh;
        left: -80vw;
        z-index: 1;
        transform: rotate(45deg);

        h2 {
            color: black;
            background: white;
            display: inline-block;
            animation-name: banderole;
            animation-duration: 15s;
            animation-iteration-count: infinite;
        }

        span {
            line-height: 3.5rem;
            font-size: 10.5rem;
            color: #fff;
            font-family: Lari;
            -webkit-text-stroke: 2px #000;
        }
    }

    div {
        @include flexit(space-between, center);

        section {
            width: 44%;

            h4 {
                @include h4("");
                padding-bottom: 4vh;
                font-family: 'Work Sans';
            }

            h5 {
                @include h2("");
                font-size: 3.5rem;
                line-height: 5.5rem;
                padding-bottom: 8vh;
            }

            .button {
                color: #fff;
                font-size: 2.1rem;
                border: 2px solid #fff;
                padding: 20px 50px;
                text-decoration: none;
            }

            .button:hover {
                color: #000;
                background: #fff;
            }
        }

        div {
            width: 52%;
            height: 100vh;
        }
    }

    nav {
        @include flexit(space-between, center);
        padding-bottom: 2vh;

        ul {
            list-style: none;
            padding-bottom: 3vh;
            line-height: 4rem;

            li {
                color: white;
                font-family: 'Work Sans';
                text-decoration: none;
                font-size: 1.8rem;

                img {
                    width: 25px;
                    margin-right: 7px;
                }
            }
        }

        div {
            @include flexit (center, flex-end);

            img {
                width: 5vw;
                margin-left: 1vw;
            }
        }
    }
}

@keyframes round {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359.9deg);
    }
}

@keyframes banderole {

    0%,
    100% {
        transform: translate(100px, -50px);
    }

    50% {
        transform: translate(1200px, -50px);
    }
}

@media only screen and (max-width: 768px) {
    main {
        section:nth-of-type(2) {
            overflow: hidden;
        }

        img:nth-of-type(1) {
            top: 9vh;
            left: 54vw;
        }

        img:nth-of-type(2) {
            width: 290px;
            top: 30vh;
            left: 8vw;
        }

        img:nth-of-type(3) {
            width: 290px;
            top: 45vh;
            left: 50vw;
        }

        img:nth-of-type(4) {
            top: 135vh;
            left: 3vw;
        }

        img:nth-of-type(5) {
            top: 158vh;
            left: 51vw;
        }

        .ourTshirts {
            img {
                position: absolute;
                width: 300px;
                top: -35vh;
                left: 7vh;
            }

            img:nth-of-type(2) {
                width: 470px;
                top: 53vh;
                left: 10vw;
                z-index: 5;
            }
        }

        .theGoldenBear {
            padding: 3vh 0 45vh 0;

            article {
                padding-top: 20vh;
            }

            img {
                position: absolute;
                top: 101vh;
                left: 8vw;
                width: 54%;
                z-index: 2;
            }

            img:nth-of-type(2) {
                position: absolute;
                top: 122vh;
                left: 58vw;
                width: 28vw;
                z-index: 3;
            }
        }

        .thePoppyBear {
            padding-bottom: 85vh;

            .poppyImg {
                position: absolute;
                top: 8vh;
                left: 1vw;
                z-index: 1;
                width: 60vh;
                animation-duration: 25s;
                animation-name: round;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

            .poppyImg2 {
                position: absolute;
                width: 54%;
                z-index: 2;
                top: 128vh;
                left: 34vw;
            }

            .poppyImg2:nth-of-type(2) {
                position: absolute;
                top: 152vh;
                left: 10vw;
                width: 28vw;
                z-index: 3;
            }
        }
    }

    footer {
        padding-top: 20vh;

        .banderole {
            color: black;
            background: white;
            border: 1px solid black;
            font-size: 7.5rem;
            width: 590%;
            height: 8vh;
            position: absolute;
            top: 68vh;
            left: -190vw;
            z-index: 1;
            transform: rotate(45deg);
        }

        nav {
            padding-top: 15vh;

            div {
                img {
                    width: 20vw;
                }
            }
        }
    }
}